<div>
    <h2> All cars </h2>
</div>

<h2>@Model.CurrentCategory</h2>

@{ 
    foreach(var car in Model.Cars)
    {
        <div>
            <h4>Car name: @car.Name</h4>
            <p>Price: @car.Price.ToString("c")</p>
        </div>
    }

}
